body{
	padding:0;
	margin:0;
	/* background:url(../images/body_bg.jpg) 0 0 repeat-x; */
	font-family:Arial, Helvetica, sans-serif;
	color:#5C5C5C;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}

#main{
	width:972px;
	margin:0 auto;
	padding:0 0 32px 0;
}

#left{
	width:247px;
	float:left;
}
#left img{
	display:block; font-size:0; line-height:0;
	}
#left img.logo{
	display:block;
	width:247px;
	height:97px;
}
#left ul{
	padding:25px 12px 46px 19px;
	width:216px;
}
#left ul li{
	border-bottom:#D2D5D5 solid 1px;
	padding:0 0 8px 0;
	margin:0 0 8px 0;
}
#left ul li a.potencial{
	display:block;
	background:url(../images/potencial.gif) 0 0 no-repeat;
	width:199px;
	height:42px;
}
#left ul li a.potencial:hover{
	background:url(../images/potencial_hover.gif) 0 0 no-repeat;
}
#left ul li a.ideal{
	display:block;
	background:url(../images/ideal.gif) 0 0 no-repeat;
	width:199px;
	height:42px;
}
#left ul li a.ideal:hover{
	background:url(../images/idea_hover.gif) 0 0 no-repeat;
}
#left ul li.noBdr{
	border-bottom:none;
	padding:0;
	margin:0;
}
#left ul li.noBdr a.innovative{
	display:block;
	background:url(../images/innovative.gif) 0 0 no-repeat;
	width:204px;
	height:42px;
}
#left ul li.noBdr a.innovative:hover{
	background:url(../images/innovative_hover.gif) 0 0 no-repeat;
}
#left form{
	width:214px;
	margin:0 0 0 19px;
	background:url(../images/newsletter_bg.gif) 0 0 repeat-x;
	height:76px;
	padding:19px 9px 0 9px;
}
#left form h2{
	display:block;
	width:179px;
	height:16px;
	background:url(../images/newsletter_icon.gif) 0 0 no-repeat;
	padding:0 0 0 26px;
	margin:0 0 0 0;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	color:#101010;
	background-color:inherit;
	}
#left h3.faq{
	display:block;
	width:190px;
	height:42px;
	background:url(../images/faq_icon.png) 0 0 no-repeat;
	padding:0 0 0 41px;
	margin:15px 0 9px 21px;
}
#left h3.faq span{
	width:179px;
	border-bottom:red solid 1px;
	font-size:16px;
	height:24px;
	color:#000;
	background-color:inherit;
	margin:10px 0 0 0;
}
#left h3.faq span b{
	font-weight:bold;
	font-size:20px;
	height:24px;
	color:#C18B1E;
	background-color:inherit;
}
#left p.lftTxt{
	width:221px;
	display:block;
	margin:0 0 0 19px;
	font-size:12px;
	line-height:18px;
	padding:0 0 42px 0;
	border-bottom:#D2D5D5 solid 1px;
}
#left p.lftTxt span.green{
	display:block;
	font-weight:bold;
	font-size:13px;
	color:#327C8E;
	background-color:inherit;
	margin:0 0 14px 0;
}
#left img.callUs{
	width:208px;
	height:45px;
	margin:19px 0 10px 19px;
}
#left ul.botLink{
	width:171px;
	height:29px;
	background:url(../images/left_panel_bot_bg.gif) 0 0 repeat-x;
	padding:9px 0 0 49px;
	margin:0 0 0 19px;
}
#left ul.botLink li{
	padding:0 6px 0 0;
	margin:0;
	float:left;
}
#left ul.botLink li a.css{
	display:block;
	background:url(../images/css_bg.gif) 0 0 no-repeat;
	width:77px;
	height:17px;
	}
#left ul.botLink li a.css:hover{
	background:url(../images/css_bg_hover.gif) 0 0 no-repeat;
}
#left ul.botLink li a.xhtml{
	display:block;
	background:url(../images/xhtml_valid.gif) 0 0 no-repeat;
	width:77px;
	height:17px;
	}
#left ul.botLink li a.xhtml:hover{
	background:url(../images/xhtml_valid_hover.gif) 0 0 no-repeat;
}

#right{
	width:460px;
	float:left;
	padding:10px 0 0 0;
	margin-left: 20px;
}
#right ul.nav{
	width:638px;
	height:36px;
	float:left;
}
#right ul.nav li{
	padding:0 2px 0 0;
	float:left;
	background:url(../images/nav_div.gif) right top;
}
#right ul.nav li a.navLink{
	display:block;
	background:url(../images/nav_bg.gif) 0 0 repeat-x;
	font:bold 11px/36px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	background-color:inherit;
	padding:0 13px;
}
#right ul.nav li a.navLink:hover{
	background:url(../images/nav_bg_hover.gif) 0 0 repeat-x;
}
#right ul.nav li a.hover{
	display:block;
	background:url(../images/nav_bg_hover.gif) 0 0 repeat-x;
	font:bold 11px/36px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	background-color:inherit;
	padding:0 13px;
}
#right ul.nav li.noImg{
	padding:0;
	float:left;
	background-image:none;
}
#right a.subscribe{
	display:block;
	background:url(../images/subscribe.gif) 0 0 no-repeat;
	width:67px;
	height:17px;
	float:right;
	margin:10px 0 0 0;
}
#right a.subscribe:hover{
	background:url(../images/subscribe_hover.gif) 0 0 no-repeat;
}
#right ul.link{
	width:705px;
	margin:5px 0 0 0;
	padding:0;
	float:left;
}
#right ul.link li.subLink{
	float:left;
	width:59px;
	display:block;
	padding:0 5px 0 0;
	}
#right ul.link li.subLink a.login{
	display:block;
	background:url(../images/login.gif) 0 0 no-repeat;
	width:59px;
	height:17px;
	}
#right ul.link li.subLink a.login:hover{
	background:url(../images/login_hover.gif) 0 0 no-repeat;
}
#right ul.link li.subLink a.serch{
	display:block;
	background:url(../images/serch.gif) 0 0 no-repeat;
	width:59px;
	height:17px;
}
#right ul.link li.subLink a.serch:hover{
	background:url(../images/serch_hover.gif) 0 0 no-repeat;
}
#rightBotMain{
	width:461px;
	margin:21px 22px 0 0;
	float:left;
}
#rightBot{
	width:461px;
}
#rightBot p.top{
	display:block;
	width:461px;
	height:6px;
	font-size:0;
	line-height:0;
}
#rightBot p.bot{
	display:block;
	width:461px;
	height:6px;
	font-size:0;
	line-height:0;
}
#rightBot2{
	width:396px;
	height:130px;
	margin:0 auto;
	padding:0 28px 0 20px;
}
#rightBot2 h1{
	display:block;
	width:284px;
	height:75px;
	margin:21px 0;
	text-indent:-2000px;
	float:left;
}
#rightBot2 a.whatSp{
	display:block;
	background:url(../images/what_special.gif) 0 0 no-repeat;
	width:59px;
	height:43px;
	float:right;
}
#rightBot2 a.whatSp:hover{
	background:url(../images/what_special_hover.gif) 0 0 no-repeat;
}
#rightBot2 ul.rightLink1{
	width:367px;
	padding:14px 12px 10px 12px;
	float:left;
}
#rightBot2 ul.rightLink1 li{
	padding:0;
	margin:0;
	line-height:0;
}
#rightBot2 ul.rightLink1 li label{
	background:url(../images/bullet_red.gif) 0 6px no-repeat;
	padding:0 0 0 18px;
	font:normal 12px/21px Arial, Helvetica, sans-serif;
	text-decoration:none;
	display:block;
}

#best{
	width:402px;
	padding:0 24px 33px 26px;
	margin:10px 0 0 0;
}
#best h2{
	display:block;
	width:395px;
	height:55px;
	background:url(../images/why_best.gif) 0 0 repeat-x;
	float:left;
	
}

#best p.bestTxt{
	width:394px;
	padding:2px 0 23px 0;
	font:normal 18px/24px Arial, Helvetica, sans-serif;
	color:#B87B05;
	background-color:#fff;
	display:block;
	float:left;
}
#best p.bestTxt2{
	width:403px;
	padding:0 0 20px 0;
	font:normal 15px/23px Arial, Helvetica, sans-serif;
	color:#363636;
	background-color:#fff;
	display:block;
	float:left;
}
#best p.bestTxt2 a{
	color:#607203;
	background-color:#fff;
	text-decoration:underline;
}
#best p.bestTxt2 a:hover{
	color:#607203;
	background-color:#F3F0F0;
}
#best p.bestTxt2 span{
	color:#363636;
	background-color:#F9FEDB;
}
#best p.bestTxt3{
	width:289px;
	padding:0;
	font:normal 15px/23px Arial, Helvetica, sans-serif;
	color:#363636;
	background-color:#fff;
	display:block;
	float:left;
}
#best p.bestTxt3 span{
	color:#363636;
	background-color:#F9FEDB;
}
#best p.bestTxt3 a{
	background:url(../images/more.gif) 0 0 no-repeat;
	width:69px;
	height:18px;
	display:block;
	float:right;
}
#best p.bestTxt3 a:hover{
	background:url(../images/more_hover.gif) 0 0 no-repeat;
}
#best p.pic{
	display:block;
	background:url(../images/right_pic.gif) 0 0 no-repeat;
	width:99px;
	height:120px;
	float:right;
	border:#000000 dotted 1px;
}
#last{
	width:220px;
	float:left;
	height:650px;
	margin:8px 0 0 0;
}
#last p.lastTop{
	display:block;
	width:214px;
	height:6px;
	font-size:0;
	line-height:0;
}
#last h2.res{
	display:block;
	width:194px;
	height:25px;
	margin:0 0 3px 6px;
	padding:10px 0 0 8px;
}
#last h2.res span{
	background:url(../images/bullet_red.gif) 0 6px no-repeat;
	padding:0 0 0 15px;
	font:normal 18px/23px Arial, Helvetica, sans-serif;
	color:#101010;
	background-color:inherit;
}
#last ul{
	width:202px;
	padding:0 0 30px 0;
	margin:0 0 0 6px;
	font-size:0;
	line-height:0;
}
#last ul li{
	display:block;
	background:url(../images/responsible_link_bg.gif) 0 0 repeat-x;
	height:24px;
	padding:0 0 0 8px;
	margin:0 0 3px 0;
	line-height:0;
	font-size:0;
}
#last ul li a{
	padding:0 0 0 15px;
	font:bold 12px/24px Arial, Helvetica, sans-serif;
	color:#788C11;
	background-color:inherit;
	text-decoration:none;
}
#last ul li a:hover{
	color:#000;
	background-color:inherit;
}
#last h2.future{
	display:block;
	width:194px;
	height:25px;
	margin:0 0 15px 6px;
	padding:10px 0 0 8px;
}
#last h2.future span{
	background:url(../images/bullet_red.gif) 0 6px no-repeat;
	padding:0 0 0 15px;
	font:normal 18px/23px Arial, Helvetica, sans-serif;
	color:#101010;
	background-color:inherit;
}
#last h3{
	font:bold 13px/18px Arial, Helvetica, sans-serif;
	color:#B87B05;
	background-color:inherit;
	display:block;
	margin:0 0 10px 13px;
}
#last p.lastTxt{
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#5C5C5C;
	background-color:inherit;
	margin:0 0 0 13px;
	display:block;
	width:190px;
}
#last a.plan{
	color:#607203;
	background-color:inherit;
	text-decoration:underline;
	font:normal 12px/20px Arial, Helvetica, sans-serif;
	margin:0 0 13px 13px;
	display:block;
	width:165px;
	
	
}
#last a.plan:hover{
	color:#000;
	background-color:inherit;
	text-decoration:underline;
}
#last p.lastBot{
	display:block;
	width:214px;
	height:22px;
	background:url(../images/last_bot.gif) 0 0 no-repeat;
}

#footer{
	width:457px;
	margin:0 auto;
	position:relative;
}

#footer p.copyright{
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	position:absolute;
	left:106px;
	top:9px;
	color:#5B6A14;
	background-color:inherit;
	width:241px;
}
#footer p.design{
	display:block;
	width:206px;
	height:21px;
	padding:0;
	position:absolute;
	left:119px;
	top:25px;
	text-align:center;
}
#footer p.design a.link{
	font:bold 13px/21px Arial, Helvetica, sans-serif;
}
#footer p.design a.link:hover{
	color:#000;
	background-color:#F7F7F7;
}
